"*":
  "exception-reporting":
    userId: "eac6fd9e-2c53-172a-7946-63fba0eb41eb"
  welcome:
    showOnStartup: false
  metrics:
    userId: "473f63d5560de349c9f31d0a7a1daf97b9461a79"
  core:
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    disabledPackages: [
      "linter-shellcheck"
    ]
  editor:
    showIndentGuide: true
    fontSize: 15
    invisibles: {}
    showInvisibles: true
  ignoredNames: [
    ".git"
    ".svn"
    ".DS_Store"
  ]
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus": {}
  "tree-view": {}
