"*":
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus": {}
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "eac6fd9e-2c53-172a-7946-63fba0eb41eb"
  ignoredNames: [
    ".git"
    ".svn"
    ".DS_Store"
  ]
  "linter-eslint":
    global:
      globalNodePath: "~/.nvm/versions/node/v0.12.7"
  "linter-js-standard":
    checkStyleDevDependencies: true
    showEslintRules: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    showPanel: true
  "markdown-preview":
    breakOnSingleNewline: true
  metrics:
    userId: "473f63d5560de349c9f31d0a7a1daf97b9461a79"
  "tree-view": {}
  welcome:
    showOnStartup: false
